/* global settings*/
html {
    background: #585858;
    font-family: 'Kufam', sans-serif;
    color: white;
    z-index: 1;
}

body {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100svh;
    font-size: 16px;
    line-height: 1.5;
}

* {
    transition: all 100ms ease-in-out, color 1ms;
} 

body.open {
    overflow: hidden;
}

img {
    object-fit: cover;
    cursor: pointer;
}

img.bigger-picture {
    scale: 1.3;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    color: #2EE6C6;
}

a:hover {
    color: white;
}

a {
    color: #6de2cf;
    text-decoration: underline;
}

main {
    position: relative;
    max-width: 80em;
    margin: 0 auto;
    padding-bottom: 15em;
}


/* global header */ 
header {
    margin-bottom: 7em;
}

header img.hero {
    display: block;
    width: 100%;
    height: 100%;
    object-position: 0 0;
    margin-bottom: 3.5em;
    position: relative;
    z-index: -1;
}

div.overlay-hero {
    width: 100%;
    height: 63em;
    position: absolute;
    top: 0;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(88,88,88,0) 0%, rgba(88,88,88,0.2) 17%, rgba(88,88,88,1) 72%, rgba(88,88,88,1) 100%);
}

nav.burger-menu {
    position: fixed;
    top: 0;
    z-index: 2;
}

div.burger-icon {
    position: fixed;
    right: 0;
    display: none;
    aspect-ratio: 1/1;
    width: 4em;
    background-color: #585858;
    border-radius: 0 0 0 2.5em;
    box-shadow: 1px 6px 5px 1px hsl(170deg 23% 8% / 85%);
    cursor: pointer;
    z-index: 3;
    transition: 300ms ease-in-out;
}

div.burger-icon.open {
    background: #2ee6c6;
    transition: 300ms ease-in-out;
}

div.bar.open {
    background: #585858;
    transition: 300ms ease-in-out;
}

div.bar-group {
    padding-top: 1em;
    padding-left: 1em;
}

#bar1.open {
    transform: rotate(45deg) translate(7px, 5px);
    transition: 300ms ease-in-out;
}

#bar3.open {
    transform: rotate(-45deg) translate(7px, -5px);
    transition: 300ms ease-in-out;
}

#bar2 {
    margin: 0.3em 0;
}

#bar2.open {
    opacity: 0;
    transition: 200ms ease-in-out;
}

.bar {
    width: 2.5em;
    height: 3.5px;
    background-color: #2EE6C6;
    transition: 300ms ease-in-out;
}

.overlay {
    display: none;
    background-color: #e6e6e6;
    color: #585858;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    transition: unset;
}

.overlay ul {
    margin-top: calc(50vh - 12.5em);
}

.overlay li {
    display: list-item;
    list-style: none;
}

nav li a {
    color: white;
}

.overlay li.middle-nav {
    margin: 1.5em 0;
}

ul.icons img {
    width: 2em;
    transition: padding .5s;
}

ul.icons {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto 3.5em;
}

ul.icons li {
    line-height: 0;
    display: inline-block;
    margin-right: 3.5em;
}

ul.icons li:last-of-type {
    margin-right: 0;
}

ul.icons img:hover {
    padding-bottom: 1.5em;
}


/* global main */
nav.standard {
    background: #585858;
    padding: 1em 0;
    text-align: center;
    position: -webkit-fixed;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    box-shadow: 0px 0px 1.5em #000000b4;
}

nav.standard ul {
    max-width: fit-content;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5;
}

.standard li.middle-nav {
    margin: 0 7em;
}

.highlight{
    color: #a1e6da;
}

h1 {
    font: normal normal 900 8em/1.5em 'Kufam';
    text-shadow: 2px 5px 3px #2EE6C6;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    transition: text-shadow 200ms, font-size 500ms;
}

h2 {
    font: normal normal 900 1.875em/1.5em 'Kufam';
    text-shadow: 1px 1px 3px #2c2c2c;
}

h3 {
    font: normal normal 600 1.125em/1.5em 'Kufam';
    text-shadow: 1px 1px 3px #2c2c2c;
}

h5 {
    font: normal normal 900 1.875em/1.5em 'Kufam';
    text-shadow: 1px 1px 3px #2c2c2c;
    text-align: center;
}

h4 {
    font: normal normal 500 1em/1.5em 'Kufam';
    text-shadow: 1px 1px 3px #2c2c2c;
}

p {
    font: normal normal normal 1em/1.5em 'Kufam';
    color: #E6E6E6;
    margin-bottom: 1.5em;
    text-shadow: 1px 1px 2px #1f1f1f;
}

button {
    display: inline-block;
    border-radius: 1em;
    width: 9em;
    height: auto;
    margin: 1.5em auto 0;
    font: normal normal normal 1em/1.5em 'Kufam';
    background-color: #585858;
    color: #2EE6C6;
    border: none;
    box-shadow: 4px 5px 6px #000000b4;
}

/* global footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    max-height: max-content;
    padding: 1.5em 0;
    background-color: #E6E6E6;
    box-shadow: 0px 0px 20px #000000b4;
}

footer a {
    margin-right: 170px;
    height: 2.5em;
    display: inline-block;
}

footer img.icon {
    height: 100%;
    transition: all 500ms;
}

footer a:hover {
    height: 3.5em;
}

footer div.container {
    width: max-content;
    margin: 0 auto;
}

footer a:last-of-type {
    margin-right: 0;
}

footer.fixed {
    position: fixed;
    bottom: 0;
}

/* about me */
section.about {
    margin: 0 auto 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img.portrait{
    aspect-ratio: 502/687;
    max-width: 24em;
    width: 100%;
    height: 100%;
    margin: 0 3em 3em 0;
    box-shadow: 10px 10px 15px #2EE6C6CC;
    border-radius: 2em;
    object-position: 67% 0%;
    display: block;
}

.general-info {
    max-width: 30em;
}

.general-info p:last-of-type {
    margin-bottom: 0;
}

.data-overview {
    max-width: 80em;
    overflow: auto;
    margin: 0 auto 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.data-overview div:last-child {
    margin-right: 0;
}

.data-overview div{
    margin-right: 4em;
}

.data-overview p {
    margin-bottom: 0;
}

.project.bottom, .bottom {
    margin-bottom: 3.5em;
}

/* skills */
.skills h1 {
    margin-bottom: 0;
}

.skills {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.skills .icon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 1em 2.7em
}

.skills .icon .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
} 

.skills p {
    margin-left: 1.5em;
    width: 13em;
}

.skills img{
    width: 5em;
}

.skills img:hover {
    animation-name: img-hover;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    position: relative;
}

@keyframes img-hover {
    0% {opacity: 1; right: 0px;}
    40% {opacity: 0;}
    50% {opacity: 0; right: 20px;}
    60% {opacity: 0;}
    100% {opacity: 1; right: 0px}
}

/* projects */
#intro-projects {
    margin-bottom: 4em;
}

#intro-projects p {
    margin: 0 auto;
    text-align: center;
    max-width: 45em;
}

#button-container {
    max-width: 60em;
    margin: 0 auto;
}

#button-container button {
    margin: 1em 1em 0 0;
    width: max-content;
    padding: 0.5% 1%;
    cursor: pointer;
    text-transform: capitalize;
}

#button-container button:hover {
    scale: 0.925;
}

button.active {
    color: #2c2c2c;
    background-color: #2EE6C6;
}

.project p, .project h5 {
    max-width: 39em;
}

.project {
    margin: 0 auto 9em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project.left {
    flex-direction: row;
}

.project.right {
    flex-direction: row-reverse;
}

.project div.container li {
    font: normal normal normal 1em/1.5em 'Kufam';
    color: #E6E6E6;
}

.project div.container li::before {
    content: "- ";
}

.project .container h3 {
    margin-top: 2.5em;
}

.project img {
    aspect-ratio: 4/3;
    height: auto;
    width: 37em;
    height: auto;
    object-position: 23% 50%;
    border-radius: 2em;
}

.project img.flintcraft {
    object-position: 44% 50%;
}

.project .container {
    max-width: 37em;
}

div.tag {
    display: inline-block;
    background-color: #2ee6c6;
    color: #585858;
    padding: 5px 10px;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-transform: lowercase;
}

div.list{
    display: flex;
    justify-content: space-between;
}

#mms-pic {
    object-position: 37% 0%;
}

main p#more {
    text-align: center;
}

.project p.photo-text {
    font-style: italic;
    font-size: 1em;
    text-align: right;
    margin-bottom: 1em;
}

#steam-project div.container.right p:last-child {
    margin-bottom: 3em;
}


/* contact */
.contact {
    margin: 0 auto;
    width: max-content;
}

.contact h5 {
    font-size: 1.5em;
    margin: 2em 0;
    max-width: 20em;
}

.contact img {
    height: 3em;
    margin-right: 4em;
}

.contact a {
    text-decoration: none;
    transition: all .5s;
}

.contact a img:hover {
    padding-bottom: 1.5em;
}

.contact .container {
    display: flex;
    flex-direction: column;
}

.contact .container .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* media queries */
@media all and (max-width: 1700px) {
    /* global */
    
    header img.hero {
        object-position: 0 10%;
    }
    
    /* about */
    main {
        max-width: 70em;
    }

    .project img, .project .container {
        max-width: 32em;
    }

}

@media all and (max-width:1300px) {
    /* global */
    body{
        font-size: 14px;
    }

    main {
        max-width: 55em;
    }

    .project {
        margin-bottom: 8em;
        justify-content: space-evenly;
    }

    .project img, .project .container {
        max-width: 23em;
    }

}

@media all and (max-width:719px) { 
    /* global */

    * {
        font-size: 12px;
    }

    h1, h2, h3, p {
        text-align: center;
    }

    h5 {
        font-size: 1.25em;
    }

    nav ul li {
        font-size: 1.875rem;
        line-height: 1.5em;
    }

    nav li a {
        color: #585858;
    }

    section.about {
        flex-wrap: wrap;
    }

    .skills .icon {
        justify-content: center;
    }

    .skills p {
        text-align: left;
    }

    /* projects */
    #all-projects {
        width: max-content;
        margin: 0 auto;
    }

    #button-container {
        max-width: 35em;
    }

    .project.left, .project.right{
       flex-direction: column;
    }

    .project h2, .project h3, .project p {
        text-align: left;
    }

    /* contact */
    .contact h5 {
        max-width: 20em;
        margin: 5em 0;
    }

    .links h3 {
        font-size: 1em;
    }

    .links img {
        margin-right: 1.5em;
    }
    
}

@media all and (max-width: 375px) {
/* font em = 14px */

    nav ul li {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3.75rem;
    }

    .overlay ul {
        margin-top: calc(50vh - 118px);
    }

    ul.icons li {
        margin-right: 2em;
    }
    
    div.burger-icon {
        width: 50px;
        border-radius: 0 0 0 30px;
        box-shadow: -2px 5px 6px #0000004d;
    }

    div.bar-group {
        padding-top: 13.7px;
        padding-left: 13.4px;
    }

    div.bar {
        width: 28px;
        height: 3px;
    }

    #bar1.open {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #bar3.open {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    #bar2 {
        margin: 4px 0;
    }

}